<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
   <span style="padding-left: 16px;">AWARENESS VR</span>
    <% end %>

<div class="d-flex flex-end">
        <div class="nav-item">
          <%= link_to "about", about_path, class: "nav-link" %>
        </div>

          <div class="nav-item">
          <%= link_to "what it is", what_it_is_path, class: "nav-link" %>
        </div>



        <div class="nav-item ">
          <%= link_to "contact", contact_path, class: "nav-link" %>
        </div>
</div>

</div>
