<br>

<div class="container justify-content-center align-items-center mt-3">
  <div class="d-flex flex-column justify-content-center align-items-center p-5 mt-5">
    <br>

    <h1>About Awareness VR</h1>
    <p class="p-2">Thanks for visiting! Awareness VR is a project dedicated to bringing transofrmative eperiences in VR. Awareness VR aims to make this easier by offering immersive meditation trainings tailored to their needs. </p>


<iframe class="video" height="480" width="700"
src="https://www.youtube.com/embed/kgBBJQDvbU4">
</iframe>
<br>
<br>
<h1>About Me</h1>

    <p>Having meditated for many years, I came to London in 2018 to study at the London School of Economics, where I focused on how innovation can spark new ways of expanding the benefits of meditation. This project is the culmination my dissertation and informed by numerous interviews with vr labs and meditation experts.</p>

   <%= image_tag "profile.jpg", height: 350, width: 350, alt: "alttext" %>
   <br>

      <p>Previously I worked at Human Rights Watch and as a Fulbright scholar to India. </p>

  </div>

</div>
