<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
   <span style="padding-left: 16px; color: #121212;">AWARENESS VR</span>
    <% end %>

<div class="d-flex flex-end " >
        <div class="nav-item">
          <%= link_to "about", about_path, class: "nav-link-2" %>
        </div>

          <div class="nav-item">
          <%= link_to "what it is", what_it_is_path, class: "nav-link-2" %>
        </div>



        <div class="nav-item ">
          <%= link_to "contact", contact_path, class: "nav-link-2" %>
        </div>
</div>

</div>



  <br>
  <br>

  <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 mt-5 p-5 justify-content">

   <h3>We would love to hear from you!</h3>
   <br>

  <form  method="POST" action="https://simple-form.com/inanna.craigmorse@gmail.com">
        <input type="hidden" name="redirectURL" value="http://awarenessvr.org" />
        <input class="form-control" type="text" name="name" placeholder="Your name" />
        <br>

        <input class="form-control" type="email" name="replyTo" placeholder="Your email" />
        <br>

        <textarea class="form-control" name="message" placeholder="Your message"></textarea>
        <br>

        <input type="submit" value="Send" class="btn"/>

        </form>

 </div>
</div>




