


  <br>
  <br>

  <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 mt-5 p-5 justify-content">

   <h3>We would love to hear from you!</h3>
   <br>

  <form  method="POST" action="https://simple-form.com/inanna.craigmorse@gmail.com">
        <input type="hidden" name="redirectURL" value="http://awarenessvr.org" />
        <input class="form-control" type="text" name="name" placeholder="Your name" />
        <br>

        <input class="form-control" type="email" name="replyTo" placeholder="Your email" />
        <br>

        <textarea class="form-control" name="message" placeholder="Your message"></textarea>
        <br>

        <input type="submit" value="Send" class="btn"/>

        </form>

 </div>
</div>




