
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
   <span style="padding-left: 16px; color: white">AWARENESS VR</span>
    <% end %>

<div class="d-flex flex-end">
        <div class="nav-item">
          <%= link_to "about", about_path, class: "nav-link"%>
        </div>

          <div class="nav-item">
          <%= link_to "what it is", what_it_is_path, class: "nav-link" %>
        </div>



        <div class="nav-item ">
          <%= link_to "contact", contact_path, class: "nav-link" %>
        </div>
</div>

</div>


<div class="home d-flex justify-content-center align-items-center ";>

  <div class="home-1 d-flex p-3 justify-content-center align-items-center">

      <div class="test d-flex flex-column justify-between align-items-center">

        <div class="p-1"><h1>AWARENESS VR</h1></div>
        <div class="p-1"><h2>Meditative, out of body virtual reality experiences, prompting exploration into the relationship between our mind and reality</h2></div>



      </div>
  </div>

</div>


