<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
   <span style="padding-left: 16px; color: #121212;">AWARENESS VR</span>
    <% end %>

<div class="d-flex flex-end " >
        <div class="nav-item">
          <%= link_to "about", about_path, class: "nav-link-2" %>
        </div>

          <div class="nav-item">
          <%= link_to "what it is", what_it_is_path, class: "nav-link-2" %>
        </div>



        <div class="nav-item ">
          <%= link_to "contact", contact_path, class: "nav-link-2" %>
        </div>
</div>

</div>
<br>

<div class="main justify-content-space-between p-5 ">

  <div class="container justify-content-center align-items-center mt-3">
    <div class="d-flex flex-column justify-content-center align-items-center p-5 mt-3">


      <h1>Product</h1>
      <p >A series of meditative exercises in VR that prompt users to explore their relationship to their mind and reality.</p>

      <p>The goal is to create and make available a series of guided, meditative sessions/courses in VR that walk users through exploring the connection between their mind and reality. The style of sessions will be similar to those of Sam Harris on his Waking Up app (though in VR); exercises will have the implicit orientation of guiding users towards an awakened state/self-transcendence. The sessions build off the idea that experiencing the world through VR makes us question our reality outside of the VR headset. Consistent use of the exercises may provide mental health benefits. </p>


   <p>Exercises include walking with no body, seeing yourself in the mirror as someone else, becoming other objects, breathing with waves.</p>

      <p>Similar to the style of widely used non-VR meditation apps (Calm,
Headspace, Waking Up), a narrator guides the meditation, meditations build
off of each other, and each course will focus on different styles of meditation/
goals. The goal is to ultimately have as much content as current meditation apps
have, to give users substantive experiences (content does not have to vary
much between sessions). Content will be based self-transcendence and mental health research. Will be built for Quest  </p>
<br>

    </div>

  </div>


</div>
