.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;

}

.navbar-brand {
  font-size: 15px;
  font-weight: bold;
 }

a {
   color: #121212;
  font-family: 'Lora', serif;
  font-weight: bold;
}


